<!DOCTYPE html>
<html>
  <head>
    <title>Log in to continue</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="blue-bg">
    <div id="login-form">
      <div id="login-form-info">
        <h1 class="white-text">Welcome to where wings take dream</h1>
        <ul class="white-text">
          <li><h3>Learn to log in good</h3></li>
          <li><h3>Save some starving children</h3></li>
          <li><h3>Cat videos</h3></li>
        </ul>
      </div>
      <div id="form-container">
        <h1>log in please</h1>
        <form method="POST" action="/login">
          <label for="username">User Name:</label>
          <input type="text" id="username" name="username">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password">
          
          <button type="submit" class="btn">log in</button>
        </form>
        <div id="error-message">Please fill the whole thing out</div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/form-validation.js"></script>
  </body>
</html>